<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MyFileItEntities"
         connectionString="metadata=res://*/Models.MyFileItModel.csdl|res://*/Models.MyFileItModel.ssdl|res://*/Models.MyFileItModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=WIN1251;data source=localhost;initial catalog=C:\inetpub\wwwroot\FBData\MyFileItPE.FILEIT;user id=SYSDBA;password=masterkey&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyFileItPEMainService" />
      </basicHttpBinding>
    </bindings>-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyFileItPEMainService"
                  maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferSize="2147483647"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647"
                        xdt:Transform="Insert"/>
          <security mode="Transport"
          xdt:Transform="Insert">
          </security>
        </binding>
        <!--<binding name="BasicHttpBinding_IFileItService"  maxReceivedMessageSize="2147483647" />-->
      </basicHttpBinding>
    </bindings>


    <client>
      <endpoint
            address="https://myfileit.net/MyFileItPEService/MyFileItPEMainService.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IMyFileItPEMainService"
            contract="MyFileItPEService.IMyFileItPEMainService"
            name="BasicHttpBinding_IMyFileItPEMainService"
                 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
                />
    </client>
  </system.serviceModel>
</configuration>
