body {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    background-color: #dddddd;
}

h2 {
    border-bottom: 1px solid #dddddd;
}

.body-content {
    padding-top: 3em;
}

#wrapper {
    width: 1260px;
    margin: 0px auto;
    /*text-align: center;*/
    background-color: #ffffff;
}

#header {
    background-color: #000000;
    color: #ffffff;
    font-size: 22px;
    padding: 20px;
    position: relative;
}

    #header .logo {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 150px;
    }

#content {
    min-height: 400px;
    padding: 20px;
}

    #content img {
        width: 100%;
    }

#footer {
    padding: 40px;
}

.codes {
    text-align: center;
    border: solid 1px;
    padding: 20px;
}

    .codes table {
        /*width: 100%;*/
    }

.clear {
    clear: both;
}

.note {
    background-color: yellow;
    font-size: 1em;
    font-style: italic;
    padding: 1em;
    margin-top: 1em;
    font-weight:normal;
    text-align: center;
    width: 20em;
}

.navbar-inverse .navbar-nav > li > a, .navbar-brand {
    color: #ebebeb;
}

#title-logo{
    position: absolute;
    top: .5em;
    left: .5em;
}
.navbar-header{
    position:relative;
}
.navbar-brand {
    padding-left: 8em;
    color: rgba(66, 139, 202, 1) !important;
}

.login-logo{
    text-align: center;
    padding-top: 3em;
}

.login-logo img{
    /*width: 100%;*/
}

#loginForm h4{
    text-align: center;
}

.row h2 {
    text-align: center;
}

.panel {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
