@using MyFileItDirectAmbassador.MyFileItPEService
@model ReferralDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create an Account</h2>
<fieldset>
    @Html.Partial("~/Views/Referral/ReferralAddress.cshtml", Model)
</fieldset>

